$breakpoints: (
	mb: 468px,	// Mobile 		- 100px down
	xs: 568px, 	// Extra Small 	- iPhone5 Horizontal
	sm: 768px, 	// Small 		- Common legacy screen size
	md: 1024px,	// Medium 		- Common legacy screen size +256
	lg: 1280px, // Large 		- +256
	xl: 1536px, // Extra Large 	- +256
	ml: 1792px, // Mega Large 	- +256
	de: 1920px, // Desktop 		- +128
);

$max-columns: 12;

:root {
	--columns: #{$max-columns};
	--gap: 20px;
}

body, html, p {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--gap);
	padding-left: var(--gap);

	// This implementation snaps to the lower breakpoint on the current breakpoint
	@for $i from 2 through length($breakpoints) {
		$point: nth($breakpoints, $i);
		$key: nth($point, 1);
		$value: nth($point, 2);

		$pointDown: nth($breakpoints, $i - 1);
		$keyDown: nth($pointDown, 1);
		$valueDown: nth($pointDown, 2);

		@media(min-width: $value) {
			max-width: $valueDown;
		}
	}
}

.row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(var(--gap) * -1);
	margin-left: calc(var(--gap) * -1);
}

%col {
	flex-basis: calc(100% / var(--columns));
	flex-grow: 1;
	max-width: 100%;
	padding-right: var(--gap);
	padding-left: var(--gap);

	@for $i from 1 through $max-columns {
		&[class~="col-#{$i}"]{
			flex-basis: calc(100% / var(--columns) * #{$i});
			max-width: calc(100% / var(--columns) * #{$i});
		}
	}

	@for $i from 0 through $max-columns {
		&[class~="offset-#{$i}"]{
			margin-left: calc(100% / var(--columns) * #{$i});
		}
	}

	@each $size, $width in $breakpoints {
		@media ( min-width: $size ) {
			@for $i from 1 through $max-columns {
				&[class~='#{$size}:col-#{$i}'] {
					flex-basis: calc(100% / var(--columns) * #{$i});
					max-width: calc(100% / var(--columns) * #{$i});
				}
			}
		}

		@media (min-width: $size ) {
			@for $i from 0 through $max-columns {
				&[class~='#{$size}:offset-#{$i}'] {
					margin-left: calc(100% / var(--columns) * #{$i});
					&:only-child {
						margin-left: calc(100% / var(--columns) * #{$i} + var(--gap));
					}
				}
			}
		}
	}
}

.col,
[class*="col-"] {
	@extend %col;
}
